/*   ==================================== LAYOUT SECTION ================================= */

body  {
  background-color:#e3d2b6;
  margin:  0px;
  font-family:  Verdana, Georgia, serif;
  font-size: 14px; 
}
 
#header{
  background-color: #755f4d;
  margin: 10px;
  height: 90PX;
  border-radius: 5px;
}

#navbar ul {
  padding: 5px;
  list-style-type: none;
  text-align: center;
  background-color: #453b2b;
  margin: 10px;
  border-radius: 5px;
}

#navbar ul li{
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  font-family: Arial;
  padding: .2em 1em;
  color: #fff;
  background-color: #453b2b;
}

#navbar ul li a:hover{
  color: #fff;
  background-color: #66573f;
}

h1.index{
  color:black;
  font-size:230% ;
}

.fullscreen{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.main{
  background-color: #e5e4d7;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  font-size: 110%;
  min-height: 100%;
}

.main:not(.fullscreen){
  margin-right: 320px;
}

.pictures-container{
  display:flex;
}

.image-link{
  margin:10px
}

.image-link:hover{
  opacity: 0.5;
}

.sideright{
  background-color: #e5e4d7;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px; 
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  font-size: 105%;
  float: right;
  width: 260px;
  clear: right;
}

.imagesidebar{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  float: right;
  width: 300px;
  clear: right;
  opacity: 1.0;
}

.imagesidebar:hover {
  opacity: 0.4;
}

td{
  border:1px solid black;
  min-width: 100px;
}

/* =================================== HEADINGS SECTION =============================== */
h1 {
  font-size: 120%;
  color: #ce282e;
}

h2 {
  font-size: 120%;
  color: darkblue;
}

h3{
  font-size: 250%;
  text-align: center;
  color: #e5e4d7;
  font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
  margin: 0px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* =================================== FOOTER =============================== */
#footer {
  background-color:  #755f4d;
  margin: 10px;
  height: 60px;
  clear: both;
  border-radius: 5px;
  color: #efe5d0;
  text-align: center;
  padding: 15px;
  font-size: 90%;
}

#footer ul {
  padding: 5px;
  list-style-type: none;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
}

#footer ul li{
 display: inline;
}

#footer ul li a {
  text-decoration: none;
  font-family: Arial;
  padding: .2em 1em;
  color: #efe5d0;
  background-color: #755f4d;
}

#footer ul li a:hover{
  color: #fff;
  background-color: #3b3027;
}